* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4a3ae1;
  --secondary-color: #4a3ae1b3;
  --danger-color: #ff4d4f;
  --white-color: #fff;
  --black-color: #000;
  --gray-primary: #aaa;
  --gray-secondary: #f4f4f4;
  --scrollbar-width: 4px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--gray-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-primary);
}
/* Scrollbar */

.menu-no-underline.ant-menu-item::after {
  display: none !important;
}

/* for carousel */
.ant-carousel {
  .slick-slide {
    padding-inline: 10px;
  }

  .slick-dots li {
    background: var(--gray-primary);

    &:hover:not(.slick-active) {
      background: var(--secondary-color);
      button {
        background: transparent;
      }
    }

    &.slick-active {
      background: var(--primary-color);
      button {
        background: transparent;
      }
    }
  }

  .slick-arrow {
    color: var(--black-color);
    &.slick-prev {
      inset-inline-start: 0;
    }
    &.slick-next {
      inset-inline-end: 0;
    }
  }
}

/* footer  */
.footer-white-color a {
  color: var(--white-color) !important;
}

.footer-white-color .ant-typography,
.footer-white-color .ant-col {
  color: var(--white-color) !important;
}

.footer-white-color .ant-btn {
  color: var(--white-color) !important;
}

/* ant menu selected item color */
.ant-menu {
  .ant-menu-item.ant-menu-item-selected {
    color: var(--primary-color);
  }
}

.ant-upload {
  height: 100px !important;
  padding: "20px";
  border: "1px dashed var(--gray-primary)";
  border-radius: "2px";
}

/* active quiz row pulse effect */
@keyframes pulse {
  0% {
    opacity: 0.7;
    background-color: rgba(52, 152, 219, 0.1);
  }

  50% {
    opacity: 1;
    background-color: rgba(52, 152, 219, 0.2);
  }

  100% {
    opacity: 0.7;
    background-color: rgba(52, 152, 219, 0.1);
  }
}

.active-quiz-row {
  animation: pulse 2s infinite alternate;
}

/* active quiz text pulse effect */
@keyframes pulseText {
  0% {
    color: var(--primary-color);
    opacity: 0.8;
  }

  50% {
    color: var(--danger-color);
    opacity: 1;
  }

  100% {
    color: var(--primary-color);
    opacity: 0.5;
  }
}

.active-quiz-text {
  animation: pulseText 2s infinite alternate;
}

/* rotating clock */
.clock {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .minute-hand {
    width: 1.5px;
    height: 6px;
    background: black;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: center bottom;
    animation: rotateHand 10s steps(12, end) infinite;
  }
}

@keyframes rotateHand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
