* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4a3ae1;
  --secondary-color: #4a3ae1b3;
  --danger-color: #ff4d4f;
  --white-color: #fff;
  --black-color: #000;
  --gray-primary: #aaa;
  --gray-secondary: #f4f4f4;
  --scrollbar-width: 4px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--gray-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-primary);
}
/* Scrollbar */

.menu-no-underline.ant-menu-item::after {
  display: none !important;
}

/* for carousel */
.ant-carousel {
  .slick-slide {
    padding-inline: 10px;
  }

  .slick-dots li {
    background: var(--gray-primary);

    &:hover:not(.slick-active) {
      background: var(--secondary-color);
      button {
        background: transparent;
      }
    }

    &.slick-active {
      background: var(--primary-color);
      button {
        background: transparent;
      }
    }
  }

  .slick-arrow {
    color: var(--black-color);
    &.slick-prev {
      inset-inline-start: 0;
    }
    &.slick-next {
      inset-inline-end: 0;
    }
  }
}

/* footer  */
.footer-white-color a {
  color: var(--white-color) !important;
}

.footer-white-color .ant-typography,
.footer-white-color .ant-col {
  color: var(--white-color) !important;
}

.footer-white-color .ant-btn {
  color: var(--white-color) !important;
}

/* ant menu selected item color */
.ant-menu {
  .ant-menu-item.ant-menu-item-selected {
    color: var(--primary-color);
  }
}
