* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scrollbar-color: #aaa;
  --scrollbar-bg: #f4f4f4;
  --scrollbar-width: 4px;
  --primary-color: rgb(74, 58, 225);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}
/* Scrollbar */

.menu-no-underline.ant-menu-item::after {
  display: none !important;
}
